*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

@font-face{
	font-family: "flaming";
	src:url("fuentes/flaming.otf");
}
@font-face{
	font-family: "odin";
	src:url("fuentes/odinrounded-bold.otf");
}
@font-face{
	font-family: "brad";
	src:url("fuentes/brad.ttf");
}

body{
	background-color: white;
	margin: auto;
}

header{
	/*display: flex;
	justify-content:space-around;*/
	background-image: url("imagenes/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}

header img{
	display:block;
	margin:auto;
}

.row{
	text-align:center;
	color:white;
}

.row a{
	font-family: odin;
	font-size: 2em;
	/*text-align: center;*/
	text-decoration: none; /*Le quita las lineas de vinculo*/
	color: white;
}
.row a:hover{
	text-align: center;
	background-color: rgba(253, 154, 253, 0.15);
	width: 135px;
	border-radius: 10px 10px;
	/*box-shadow: 3px 3px 5px rgb(243, 186, 222);*/
	color: white;
}

section{
	background-color: white;
	padding: 50px;
}
section h1{
	font-family: flaming;
	font-size: 5em;
	font-weight: lighter;
	text-align: center;
	color: rgb(186,55,139);
}
section h2{
	font-family: flaming;
	font-size: 3em;
	font-weight: lighter;
	text-align: center;
	color:rgb(56,188,149);
}
section h3{
	font-family: brad;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	color: gray;
}
section a{
	text-decoration: none; 
	color: gray;
}
.galeria img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 25px;
    width: 300px;
    height: 300px;
}

.galeria img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.somos img {
	display:block;
	margin:auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;  
}
.somos img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.contacto{
	background-color: rgba(251, 254, 206, 0.9);
	/*height: 650px;*/
	padding: 50px;
}

aside{
	background-color: rgba(255,216,81,0.6);
	height: 190px;
}

aside img{
	display:block;
	margin:auto;
}

#redes{
	margin: 20px;
}

#redes p{
	font-family: brad;
	font-size: 1.5em;
	font-weight: lighter;
	/*text-align: justify;*/
	color: gray;
}

#redes h3{
	font-family: brad;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	color: gray;
}

#twitter{
	/*background-color: rgba(251, 254, 206, 0.9);
	width: 400px;
	height: 500px;
	float: left;
	margin-left: 40px;*/
	margin: 40px;
}
/*#mensaje{
	background-color: rgba(251, 254, 206, 0.9);
	width: 500px;
	height: 150px;
	float: left;
	margin-top: 20px;
	padding-left: 20px;
}*/
