*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face{
	font-family: "flaming";
	src:url("fuentes/flaming.otf");
}
@font-face{
	font-family: "odin";
	src:url("fuentes/odinrounded-bold.otf");
}
@font-face{
	font-family: "calculative";
	src:url("fuentes/Calculative.ttf");
}

@font-face{
	font-family: "enough";
	src:url("fuentes/eEnougha.ttf");
}

@font-face{
	font-family: "modern";
	src:url("fuentes/modern\ M.ttf");
}

@font-face{
	font-family: "brad";
	src:url("fuentes/brad.ttf");
}

@font-face{
	font-family: "monserrat";
	src:url("fuentes/Montserrat-VariableFont_wght.ttf");
}


/* Keyframe que permite hacer desvanecimiento. Lo llamas en cualquier lado usando aparecer*/

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Keyframe que permite deslizamientos, puedo aplicarlo a imagenes*/
@keyframes deslizarDesdeDerecha {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.imagen-animada {
  /*width: 300px;  o el tamaño que necesites */
  left: 800px;
  animation: deslizarDesdeDerecha 2s ease-out forwards;
  opacity: 0; /* invisible al principio */
}

/*Personalizando etiqueta*/
.tech-tag {
  display: inline-block;
  background-color: #112240;
  color: #64ffda;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.85rem;
  margin: 3px 5px 0 0;
  font-weight: 500;
}


body {
  font-family: 'Inter', sans-serif;
  color: #ccd6f6; /* opcional, para que combine con fondo oscuro */
  background-color: #0a192f; /* si querés estilo tipo portfolio tech */
  line-height: 1.6;
}



/*section{
	background-color: white;
	padding: 50px;
}*/
section h1{
	font-family: "Lexend", sans-serif;
	color: rgb(255, 255, 255);
	animation: aparecer 1.5s ease-out;
}
section h2{
	font-family: 'Inter', sans-serif;
	color:rgb(0, 0, 0);
	animation: aparecer 1.5s ease-out;
}
section h3{
	font-family: monserrat;
	font-size: 2em;
	font-weight: lighter;
	color: gray;
	animation: aparecer 1.5s ease-out;
}

section h4{
	font-family: brad;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	color: gray;
	animation: aparecer 1.5s ease-out;
}

#intro{
  background-image: url("imagenes/sunset.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh; /* alto mínimo de pantalla completa */
  display: flex; 
  align-items: center;         /*centra vertical */
  justify-content: center;    /* centra horizontal */
  background-repeat: no-repeat;
  color: white; /* si la imagen es oscura */
}

/*Carousel hace que las imagenes se desplacen*/
.carousel-inner {
  border-radius: 12px;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-caption h5,
.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
}
/*Fin Carousel*/
